.newProduct {
	flex: 4;
	padding: 20px;
}
.newProductContainer {
	display: flex;
}
.newProductRightColumn,
.newProductleftColumn {
	flex: 1;
}
.newProductRightColumn {
	display: flex;
	padding: 20px;
	margin: 20px;
	box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.7);
}

.addProductForm {
	margin-top: 10px;
}
.addProductItem {
	width: 250px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.addProductItem > label {
	color: gray;
	font-weight: 600;
	margin-bottom: 10px;
}

.addProductItem > input {
	padding: 10px;
}

.addProductItem > select {
	padding: 10px;
}

.addProductButton {
	margin-top: 10px;
	padding: 7px 10px;
	border: none;
	border-radius: 10px;
	background-color: darkblue;
	color: white;
	font-weight: 600;
	cursor: pointer;
}
.newProductleftColumn {
	display: flex;
	padding: 20px;
	margin: 20px;
	box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.7);
}
